<body>
	<div class="container">
		<div class="navbar-spacer"></div>
		<nav class="navbar">
			<div class="container">
				<ul class="navbar-list">
					<li class="navbar-item"><a class="navbar-link" href="/admin">Dashboard</a></li>
				</ul>
			</div>
		</nav>
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Date/Time</th>
					<th>Title</th>
					<th>Route</th>
				</tr>
			</thead>
			<tbody>
				<%= if (len(pages) > 0) { %>
					<%= for (page) in pages { %>
						<tr>
							<td><%= unixtostring(page.CreatedDateTime) %></td>
							<td><%= page.Title %></td>
							<td><a href="<%= page.Route %>"><%= page.Route %></a></td>
						</tr>
					<% } %>
				<% } %>
			</tbody>
		</table>
	</div>
</body>