<body>
    <div class="container">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Date/Time</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <%= if (users && len(users) > 0) { %>
            <%= for (user) in users { %>
              <tr>
                  <td><%= unixtostring(user.CreatedDateTime) %></td>
                  <td><%= user.FirstName %> <%=user.LastName %></td>
                  <td><%= user.Username %></td>
                  <td><%= user.Email %></td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
</body>