<body>
	<div class="container">
		<%= contentOf("navdashboardheader") %>
		<li class="navbar-item"><a class="navbar-link" href="/admin/pages/new">New</a></li>
		<li class="navbar-item"><button id="delete" class="navbar-input">Delete</button></li>
		<%= contentOf("navdashboardfooter") %>
		<table id="page-list" class="u-full-width">
			<thead>
				<tr>
					<th style="padding: 0px 0px;"><input id="selectall" style="margin-top: 1.4rem;" type="checkbox"></th>
					<th>Date/Time</th>
					<th>Title</th>
					<th>Route</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= if (len(pages) > 0) { %>
					<%= for (page) in pages { %>
						<tr>
							<td id="<%= page.UUID %>" class="td-nopadding"><input style="margin-top: 1.4rem;" type="checkbox"></td>
							<td class="td-nopadding"><%= unixtostring(page.CreatedDateTime) %></td>
							<td class="td-nopadding"><%= page.Title %></td>
							<td class="td-nopadding"><a href="<%= page.Route %>"><%= page.Route %></a></td>
							<td class="td-nopadding"><a class="button" href="/admin/pages/edit/<%= page.UUID %>" style="margin: 0.2rem;">Edit</a></td>
						</tr>
					<% } %>
				<% } %>
			</tbody>
		</table>
	</div>
</body>