<body>
    <div class="container">
        <%= contentOf("navdashboardheader") %>
        <li class="navbar-item"><a class="navbar-link" href="/admin/users/groups/new">New</a></li>
        <li class="navbar-item"><button id="" class="navbar-input">Delete</button></li>
        <%= contentOf("navdashboardfooter") %>
        <table id="user-list" class="u-full-width">
            <thead>
                <tr>
                    <th style="padding: 0px 0px;"><input id="selectallgroups" style="margin-top: 1.4rem;" type="checkbox"></th>
                    <th>Date/Time</th>
                    <th>Title</th>
                </tr>
            </thead>
    </div>
</body>