<body>
    <div class="container">
        <%= contentOf("navdashboardheader") %>
        <li class="navbar-item"><a class="navbar-link" href="<%= adminhiddenpassword %>/admin/users/groups/new">New</a></li>
        <li class="navbar-item"><button id="" class="navbar-input">Delete</button></li>
        <%= contentOf("navdashboardfooter") %>
        <table id="group-list" class="u-full-width">
            <thead>
                <tr>
                    <th style="padding: 0px 0px;"><input id="selectallgroups" style="margin-top: 1.4rem;" type="checkbox"></th>
                    <th>Date/Time</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <%= if (groups && len(groups) > 0) { %>
                    <%= for (group) in groups { %>
                        <tr>
                            <td id="<%= group.UUID %>" class="td-nopadding"><input style="margin-top: 1.4rem;" type="checkbox"></td>
                            <td><%= unixtostring(group.CreatedDateTime) %></td>
                            <td><a href="<%= adminhiddenpassword %>/admin/users/groups/edit/<%= group.UUID %>"><%= group.Title %></a></td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</body>