<body>
    <div class="container">
        <form action="/login" method="POST">
            <input type="hidden" name="formname" value=<%= formname %>>
            <input type="hidden" name="hashid" value=<%= formhash%>>
            <div class="row">
                <div class="twelve columns">
                    <h4 class="u-full-width">Login</h4>
                    <label>Username</label><input class="u-full-width" name="username" type="text">
                    <label>Password</label><input class="u-full-width" name="authhash" type="password">
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <input class="button-primary u-full-width" type="submit" value="Login">
                    <p class="error-message u-full-width"><%= loginerrormessage%></p>
                </div>
            </div>
        </form>
    </div>
</body>