.error-message {
    color: #cc0000;
}

body {
    font-size: 1.3em !important;
}

.td-nopadding {
    padding: 0px 0px;
}

/* Larger than phone */
@media (min-width: 550px) {
    .header {
      margin-top: 18rem; }
    .value-props {
      margin-top: 9rem;
      margin-bottom: 7rem; }
    .value-img {
      margin-bottom: 1rem; }
    .example-grid .column,
    .example-grid .columns {
      margin-bottom: 1.5rem; }
    .docs-section {
      padding: 6rem 0; }
    .example-send-yourself-copy {
      float: right;
      margin-top: 12px; }
    .example-screenshot-wrapper {
      position: absolute;
      width: 48%;
      height: 100%;
      left: 0;
      max-height: none; }
  }
  
  /* Larger than tablet */
  @media (min-width: 750px) {
    /* Navbar */
    .navbar + .docs-section {
      border-top-width: 0; }
    .navbar,
    .navbar-spacer {
      display: block;
      width: 100%;
      height: 6.5rem;
      background: #fff;
      z-index: 99;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee; }
    .navbar-spacer {
      display: none; }
    .navbar > .container {
      width: 100%; }
    .navbar-list {
      list-style: none;
      margin-bottom: 0; }
    .navbar-item {
      position: relative;
      float: left;
      margin-bottom: 0; }
    .navbar-link {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: .2rem;
      margin-right: 35px;
      text-decoration: none;
      line-height: 6.5rem;
      color: #222; }
    .navbar-link.active {
      color: #33C3F0; }
    .navbar-input {
      color: #222 !important;
      padding: 0 0px !important;
      margin-top: 1.35rem !important;
      background-color: transparent !important;
      border: none !important; }
    .navbar-input:focus {
      outline: none !important;
      color: #0FA0CE !important; }
    .navbar-input:hover {
      outline: none !important;
      color: #0FA0CE !important; }
    .has-docked-nav .navbar {
      position: fixed;
      top: 0;
      left: 0; }
    .has-docked-nav .navbar-spacer {
      display: block; }
    /* Re-overiding the width 100% declaration to match size of % based container */
    .has-docked-nav .navbar > .container {
      width: 80%; }
  
    /* Popover */
    .popover.open {
      display: block;
    }
    .popover {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      border: 1px solid #eee;
      border-radius: 4px;
      top: 92%;
      z-index: 1;
      -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
         -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
              filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
    .popover-item:first-child .popover-link:after, 
    .popover-item:first-child .popover-link:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .popover-item:first-child .popover-link:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px; }
    .popover-item:first-child .popover-link:before {
      border-color: rgba(238, 238, 238, 0);
      border-bottom-color: #eee;
      border-width: 11px;
      margin-left: -11px; }
    .popover-list {
      padding: 0;
      margin: 0;
      list-style: none; }
    .popover-item {
      padding: 0;
      margin: 0; }
    .popover-link {
      position: relative;
      color: #222;
      display: block;
      padding: 8px 20px;
      border-bottom: 1px solid #eee;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.0rem;
      font-weight: 600;
      text-align: center;
      letter-spacing: .1rem; }
    .popover-input {
      display: block !important;
      padding: 8px 20px !important;
      color: #222 !important;
      text-align: center !important;
      font-size: 1.0rem !important;
      font-weight: 600 !important;
      line-height: 1.6 !important;
      letter-spacing: .1rem !important;
      text-transform: uppercase !important;
      text-decoration: none !important;
      white-space: nowrap !important;
      background-color: transparent !important;
      border: none !important;
      border-bottom: 1px solid #eee !important;
      cursor: pointer !important;
      margin-bottom: 0rem !important;
      box-sizing: border-box !important; }
    .popover-input:hover {
      color: #fff !important;
      background: #33C3F0 !important; }
    .popover-item:first-child .popover-link {
      border-radius: 4px 4px 0 0; }
    .popover-item:last-child .popover-link {
      border-radius: 0 0 4px 4px;
      border-bottom-width: 0; }
    .popover-item:first-child .popover-input {
      border-radius: 4px 4px 0px 0px !important;
      border-bottom-width: 0 !important; }
    .popover-item:last-child .popover-input {
      border-radius: 0 0 4px 4px !important;
      border-bottom-width: 0 !important; }
    .popover-link:hover {
      color: #fff;
      background: #33C3F0; }
    .popover-link:hover,
    .popover-item:first-child .popover-link:hover:after {
      border-bottom-color: #33C3F0; }
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: flex-start;
  padding-top: 5em;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  min-width: 65%;
  min-height: 100px;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 1px;
  border: 1px solid #888;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  line-height: 1em;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}